<nav aria-label="..." class="table-responsive">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?lettre=a">a</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=b">b</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=c">c</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=d">d</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=e">e</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=f">f</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=g">g</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=h">h</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=i">i</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=j">j</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=k">k</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=l">l</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=m">m</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=n">n</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=o">o</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=p">p</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=q">q</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=r">r</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=s">s</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=t">t</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=u">u</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=v">v</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=x">x</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=y">y</a></li>
        <li class="page-item"><a class="page-link" href="?lettre=z">z</a></li>
    </ul>
</nav>